 <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div  class="col-md-6 wow fadeInUp" data-wow-delay="0.1s" ">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.1382990261286!2d29.004627714784657!3d41.04410462516943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sWissen!5e0!3m2!1str!2str!4v1652863679368!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div  class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-light p-5 h-100 d-flex align-items-center">
                        <form>
                            <div class="row g-3">
                              <h4 class="text-dark mb-4">Adres</h4>
                               <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Barbaros Bulvarı,Beşiktaş,İstanbul</p>
                               <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+850 00 00</p>
                               <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@raijin.com</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
