@{
    Layout=null;
}

<!DOCTYPE html>

<html lang="tr">
    <head>
    <partial name="_MetaStyles"></partial>
</head>
<body>
<div class="col-lg-8">
    <div class="bg-light text-center p-5">
        <h1 class="mb-4">Book For A Service</h1>
        <form>
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <select class="form-select border-0" style="height: 55px;">
                        <option selected>Select A Service</option>
                        <option value="1">Service 1</option>
                        <option value="2">Service 2</option>
                        <option value="3">Service 3</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="date" id="date1" data-target-input="nearest">
                        <input type="text"
                               class="form-control border-0 datetimepicker-input"
                               placeholder="Service Date" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                    </div>
                </div>
                <div class="col-12">
                    <textarea class="form-control border-0" placeholder="Special Request"></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_Scripts"></partial>
</body>
</html>