<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Hakkımızda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Hakkımızda</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-4">UYGUN FİYAT VE PROFESYONEL HİZMET</h1>
                    <p class="mb-4">Raijin Teknik Servis olarak siz değerli müşterilerimize kurulduğumuz günden bu yana uygun fiyat politikamız ve uzman kadromuz ile kaliteli hizmet vermeye devam etmekteyiz.</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Ev ve iş yerlerine uygun çözümler</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Uygun fiyata kaliteli hizmet</p>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 500px;">
                    <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                        <img class="position-absolute img-fluid w-100 h-100" src="../../img/about-1.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                        <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="../../img/about-2.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 text-center wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-check fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">0</h2>
                <p class="text-white mb-0">Yıllık Tecrübe</p>
            </div>
            <div class="col-md-6 col-lg-4 text-center wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">10</h2>
                <p class="text-white mb-0">Alanında Uzman Teknisyen</p>
            </div>
            <div class="col-md-6 col-lg-4 text-center wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-users fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">100</h2>
                <p class="text-white mb-0">Mutlu Müşteri</p>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->
