<!DOCTYPE html>
<html lang="en">
<body>



    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 py-5">
        <div class="container">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Hizmetlerimiz</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Hizmetler</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Service Start -->
    <div class="container-fluid py-5 px-4 px-lg-0">
        <div class="row g-0">
            <div class="col-lg-3 d-none d-lg-flex">
                <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                    <h1 class="text-center text-white m-0" style="transform: rotate(-90deg);">Profesyonel Çözümler..</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="ms-lg-5 ps-lg-5">
                    <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-5">Hizmetlerimizi Keşfedin..</h1>
                    </div>
                    <div class="row g-0">
                        <div class="card col-3" style="margin-right:20px;">
                            <div class="card-body">
                                <h4 class="mb-3">Klima Montaj</h4>
                                <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Kaliteli Hizmet</p>
                                <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Yüksek Müşteri Memnuniyeti</p>
                            </div>
                        </div>
                        <div class="card col-3" style="margin-right:20px;">
                            <div class="card-body">
                                <h4 class="mb-3">Arıza Tamir</h4>
                                <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Kaliteli Hizmet</p>
                                <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Yüksek Müşteri Memnuniyeti</p>
                            </div>
                        </div>
                        <div class="card col-3">
                            <div class="card-body">
                                <h4 class="mb-3">Yedek Parça</h4>
                                <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Kaliteli Hizmet</p>
                                <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Yüksek Müşteri Memnuniyeti</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Service End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>