@model ResetPasswordViewModel
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Reset Password</title>
</head>
<body>
    <div>
        <h2>@TempData["Message"]</h2>
        <form asp-controller="Account" asp-action="ConfirmResetPassword" method="post">
            <input type="hidden" value = "@ViewBag.Code" id="Code" name="Code" />
            <input type="hidden" value = "@ViewBag.UserId" id="UserId" name="UserId" />
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword"/>
            
            <span asp-validation-for="NewPassword"></span><br/>
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword"/>
            <span asp-validation-for="ConfirmNewPassword"></span><br/>
            <input type="submit" value="Güncelle"/>
        </form>
    </div>


</body>
</html>