@model RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <partial name="_MetaStyles"></partial>
</head>
<body>

    <div class="card offset-4 col-4 border-primary" style="margin-top:20px; margin-bottom:20px;">
        <div class="card-body">

            <div class="text-center">
                <svg width="200" height="50" viewBox="0 0 446 118" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom:20px;">
                    <path d="M88.0105 117V0.210617H138.063C141.289 0.210617 144.069 1.37851 146.405 3.7143C148.741 6.05009 149.909 8.8864 149.909 12.2232V48.0943C149.909 51.4311 148.741 54.2674 146.405 56.6032C144.069 58.939 141.289 60.1069 138.063 60.1069H134.559L149.909 117H134.559L119.043 60.1069H103.527V117H88.0105ZM103.527 44.5906H128.553C130.11 44.5906 131.501 44.0344 132.724 42.9222C133.948 41.6987 134.559 40.2527 134.559 38.5843V21.7332C134.559 20.0648 133.948 18.6745 132.724 17.5622C131.501 16.3387 130.11 15.7269 128.553 15.7269H103.527V44.5906ZM157.74 117.167L181.265 0.377457H196.447L219.638 117.167H204.122L199.617 95.3105H177.427L173.256 117.167H157.74ZM180.431 79.9611H196.948L188.939 38.4174L180.431 79.9611ZM236.084 117V0.210617H251.6V117H236.084ZM273.494 117C270.158 117 267.321 115.832 264.986 113.496C262.65 111.161 261.482 108.324 261.482 104.987V79.6274L276.998 83.1311V95.4774C276.998 97.1458 277.554 98.5918 278.667 99.8153C279.89 100.928 281.336 101.484 283.004 101.484H302.024C303.582 101.484 304.972 100.928 306.195 99.8153C307.419 98.5918 308.031 97.1458 308.031 95.4774V0.210617H323.38V104.987C323.38 108.324 322.212 111.161 319.877 113.496C317.541 115.832 314.76 117 311.534 117H273.494ZM343.254 117V0.210617H358.77V117H343.254ZM370.281 117V0.210617H385.797L416.83 78.1258V0.210617H432.346V117H416.83L385.797 39.0848V117H370.281Z" fill="#023859" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M78 117H0V0H78V117ZM59.5413 30.9397C62.5973 27.6595 65.7135 25.0323 68.8496 22.9705V108.122C46.1335 120.929 23.2547 105.679 13.9681 94.9194C24.4947 103.61 35.8984 106.34 40.2845 106.618C49.0567 107.454 66.7764 103.61 67.4781 81.5494C67.6019 77.6586 66.9817 74.3344 65.8119 71.5027C54.6102 73.6742 49.084 84.2003 47.5044 91.3478C8.907 79.9832 10.369 46.5022 15.9247 31.1823C12.4159 71.9612 36.6854 76.5849 49.2587 73.7995C54.7396 71.1889 58.6566 68.1527 61.3587 64.8988C53.7994 57.4246 41.0091 55.9273 33.2668 56.4804C22.7402 22.3867 48.1794 6.62107 62.2148 3C27.8281 22.3867 41.4541 44.5031 52.5655 53.1379C57.3945 55.5657 61.7021 56.8721 65.5276 57.323C68.62 47.4123 63.8984 36.9925 59.5413 30.9397Z" fill="#023859" />
                </svg>
            </div>

            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="Name">Ad</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <!-- Surname input -->
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="Surname">Soyad</label>
                    <input asp-for="Surname" class="form-control" />
                </div>
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="UserName">Kullanıcı Adı</label>
                    <input asp-for="UserName" class="form-control" />
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="Email">Email adresi</label>
                    <input type="email" asp-for="Email" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="Password">Şifre</label>
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
                <!-- ConfirmPassword input -->
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="ConfirmPassword">Şifre Tekrarı</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                </div>

                <!-- Submit button -->
                <div class="form-footer" style="margin-bottom: 10px;">
                    <input type="submit" class="col-4 offset-4 btn btn-primary btn-block" value="Kaydol" />
                </div>
                <div class="text text-danger" asp-validation-summary="ModelOnly"></div>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Zaten üye misiniz? <a asp-controller="Account" asp-action="Register">Giriş Yap</a></p>
                </div>
            </form>
        </div>
    </div>


    <partial name="_Scripts"></partial>
</body>
</html>