@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Reset Password</title>
</head>
<body>
    <div>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <input type="email" name="email" id="email" placeholder="Emailinizi giriniz" /><br />
            <input type="submit" value="Şifremi sıfırla" />
        </form>
    </div>
</body>
</html>
