<div class="col-md-12 col-lg-9">
	<div class="ms-lg-5 ps-lg-5">
		<div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
			<h1 class="mb-5">Admin Paneli</h1>
		</div>
		<div class="row g-0">
			<a asp-controller="Admin" asp-action="EditUserRole" class="btn btn-primary card col-3" style="margin-right:20px;">
				<div class="card-body">
					<h4 class="mb-3">Kulanıcı İşlemleri</h4>
				</div>
			</a>
			<a asp-controller="Account" asp-action="Login" class="btn btn-primary card col-3" style="margin-right:20px;">
				<div class="card-body">
					<h4 class="mb-3">Servis Talepleri</h4>
				</div>
			</a>
			<a asp-controller="Admin" asp-action="AdminProductPage" class="btn btn-primary card col-3" >
				<div class="card-body">
					<h4 class="mb-3">Ürün İşlemleri</h4>
				</div>
			</a>
		</div>
	</div>
</div>