@model ServiceViewModel
@using TechnicalService.Core.Identity


@{


    var user = new ApplicationUser();

}

<div class="card col-10 offset-1">
    <form asp-controller="Service" asp-action="ServiceForm" method="post">
        <div class="row" style="margin: auto;">
            <div class="row card-body">
                <div class="col-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Ad</label>
                            <input type="name" class="form-control" id="inputEmail4" placeholder="aaaaaaaaaaaaa">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Soyad</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Telefon</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputCity">Adres</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="aaaaaaaasmse">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="form-group col-md-3">
                            <label asp-for="BuildingNo">Aptartman No</label>
                            <input class="form-control" asp-for="BuildingNo">
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="FloorNo">Kat</label>
                            <input class="form-control" asp-for="FloorNo">
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="DoorNo">Daire</label>
                            <input class="form-control" asp-for="DoorNo">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="form-group">
                            <p><label asp-for="Message">Mesaj</label></p>
                            <textarea asp-for="Message" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a class="btn btn-primary col-md-3" href="#">Talep Oluştur</a>
                    </div>
                </div>
                <div class="col-6" id="map"></div>
            </div>
        </div>
    </form>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=***apikey***&callback=initMap&v=weekly"
        defer></script>
